<div class="article-page">

  <!-- Banner for article title, action buttons -->
  <div class="banner">
    <div class="container">

      <h1 ng-bind="::$ctrl.article.title"></h1>

    <article-actions article="$ctrl.article"></article-actions>

    </div>
  </div>



  <!-- Main view. Contains article html and comments -->
  <div class="container page">

    <!-- Article's HTML & tags rendered here -->
    <div class="row article-content">
      <div class="col-xs-12">

        <div>
          <div ng-bind-html="::$ctrl.article.body"></div>
        </div>

        <ul class="tag-list">
          <li class="tag-default tag-pill tag-outline"
            ng-repeat="tag in ::$ctrl.article.tagList">
            {{ tag }}
          </li>
        </ul>

      </div>
    </div>

    <hr />

    <div class="article-actions">

      <!-- Show author info + favorite & follow buttons -->

      <article-actions article="$ctrl.article"></article-actions>

    </div>

    <!-- Comments section -->
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div show-authed="true">
          <list-errors from="$ctrl.commentForm.errors"></list-errors>
          <form class="card comment-form" ng-submit="$ctrl.addComment()">
            <fieldset ng-disabled="$ctrl.commentForm.isSubmitting">
            <div class="card-block">
              <textarea class="form-control"
                placeholder="Write a comment..."
                rows="3" ng-model="$ctrl.commentForm.body">></textarea>
            </div>
            <div class="card-footer">
              <img ng-src="{{::$ctrl.currentUser.image}}" class="comment-author-img" />
              <button class="btn btn-sm btn-primary" type="submit">
               Post Comment
              </button>
            </div>
            </fieldset>
          </form>
        </div>

        <p show-authed="false">
          <a ui-sref="app.login">Sign in</a> or <a ui-sref="app.register">sign up</a> to add comments on this article.
        </p>

        <comment ng-repeat="cmt in $ctrl.comments"
        data="cmt" delete-cb="$ctrl.deleteComment(cmt.id, $index)">
        </comment>


      </div>
    </div>

  </div>



</div>
