<button class="btn btn-sm"  ng-class="{ 'disabled': $ctrl.isSubmitting,
             'btn-outline-primary': !$ctrl.article.favorited,
              'btn-primary': $ctrl.article.favorited }"
  ng-click="$ctrl.submit()">
  <i class="ion-heart"></i> <ng-transclude></ng-transclude>

</button>
