<button class="btn btn-sm action-btn"
  ng-class="{ 'disabled': $ctrl.isSubmitting,
              'btn-outline-secondary': !$ctrl.user.following,
              'btn-secondary': $ctrl.user.following }"
  ng-click="$ctrl.submit()">
  <i class="ion-plus-round"></i>
  &nbsp;
  {{ $ctrl.user.following ? 'Unfollow' : 'Follow' }} {{ $ctrl.user.username }}
</button>
